*{
    margin: 0;
    box-sizing: border-box; /* 모든 요소의 크기 계산 시 패딩과 테두리를 포함 */
    background-color: #1a1b1e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}